---
import IndexLayout from '../../layouts/indexLayout.astro';
export const prerender = true;

export async function getStaticPaths() {
    const allPosts = await Astro.glob("../posts/*.md");
    const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
    ];
    return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
        post.frontmatter.tags.includes(tag)
    );
    return {
        params: { tag },
        props: { posts: filteredPosts },
    };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<IndexLayout title=`${tag} Posts` languague="en">
  <div class="flex items-center justify-center">
    <div class="w-full max-w-2xl mx-auto p-5">
      <h1 class="text-4xl font-bold">Posts tagged with {tag}</h1>
      <ul>
        {
          posts.map((post) => (
          <div class="w-full py-6 space-y-6 md:py-12">
            <div class="space-y-2">
              <h2 class="text-3xl font-bold tracking-tight">{post.frontmatter.title}</h2>
              <p class="">Posted on {post.frontmatter.date.slice(0,10)}</p>
              <div class="tags flex">Tags: 
                      {post.frontmatter.tags.map((tag) => (
                        <p class="tag mx-1"><a href={`/tags/${tag}`}>{tag}</a></p>
                      ))}
              </div>
            </div>
            <p class="">{post.frontmatter.description}</p>
            <a class="font-semibold underline" href={post.url}>Read More</a>
            </div>
            <div class="border-t " />
            ))
          }
      </ul>
    </div>
  </div>
</IndexLayout>