---
import { projects } from "../../pages/en/content";
---
<div class="min-h-screen font-bold" id="projects">
    <h1 class="text-6xl font-extrabold text-center mb-10">Proyectos</h1>
    <div class="grid lg:grid-cols-3 md:mx-20">
        {projects.map((project) => (
            <div class="group card overflow-hidden shadow-2xl shadow-[--accent-dark]
                transition object-cover ease-in-out duration-700 m-3 content-around relative p-6 ">
                
                <a href={project.url} target="_blank" rel="noopener noreferrer"
                class="absolute inset-0 bg-gradient-to-tr from-[--accent-regular] to-[--accent-light] flex justify-center items-center flex-col 
                opacity-0 group-hover:opacity-100 transition-opacity duration-300 ">                
                    
                    <span class="text-4xl bg-clip-text text-transparent bg-gradient-to-r from-[--accent-regular] to-[--accent-dark]">Ver más...</span>
                    
                    <div class="card-footer px-6 pt-4 pb-2">
                        {project.tech.split(",").map(item => (
                            <span class="inline-block bg-gray-200 border border-black/20 text-black rounded-full px-3 py-1 text-sm font-semibold  mr-2 mb-2">{item}</span>
                        ))}
                    </div>

                </a>

                <img src={project.image} alt="" class="project-image"/>
                
                <div class="card-main-content p-6 text-justify ">
                    <h1 class="mb-2 text-3xl tracking-tight text-center">{project.title}</h1>
                    <p class="">{project.description}</p>
                </div>            
            </div>
        ))}
    </div>
</div>

<style>
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 1rem;
    }

    .project-image {
        width: 70%;
        max-height: 170px; /* Set this to whatever maximum height you want */
        object-fit: cover; /* This will ensure the image covers the space without distorting */
        display: block;
        margin: 0 auto;
    }

    .card-main-content {
        flex-grow: 1;
    }
</style>
